In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline
from sklearn.mixture import GaussianMixture
from sklearn.metrics import silhouette_score
import matplotlib.pyplot as plt

In [3]:
df = pd.read_pickle('data/gov_doc_df.pkl')

In [25]:
df = df[df['protocol']==False]

In [62]:
speaker_df = df.groupby(['speaker','party','t_party','state','gender'])['text_stemmatized_haplatized'].apply(lambda x: x.sum()).to_frame()

In [63]:
speaker_df = pd.melt(speaker_df.reset_index(), id_vars=['speaker','party','t_party'])

In [64]:
speaker_df.head()

                speaker party t_party variable         value
0           Mr ADERHOLT   (R)   False    state       Alabama
1               Mr AKIN   (R)   False    state      Missouri
2  Mr AL GREEN of Texas   (D)   False    state         Texas
3          Mr ALEXANDER   (R)   False    state     Louisiana
4            Mr ALTMIRE   (D)   False    state  Pennsylvania

In [65]:
del speaker_df['variable']

In [66]:
tv = TfidfVectorizer(analyzer=lambda x: x)  
X_vec = tv.fit_transform(speaker_df.value)

In [31]:
gmm = GaussianMixture(n_components=2,covariance_type='diag')

In [32]:
gmm.fit(X_vec.toarray())

GaussianMixture(covariance_type='diag', init_params='kmeans', max_iter=100,
        means_init=None, n_components=2, n_init=1, precisions_init=None,
        random_state=None, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None)

In [68]:
from sklearn.decomposition import PCA

In [70]:
pca = PCA(n_components=50)
X_pca = pca.fit_transform(X_vec.toarray())

In [ ]:
def plot_silhouette(data,clusters):
    '''
    Input:
        data - (DataFrame) Data to cluster on
        clusters - (list) List containing the number of clusters to check for
    Output:
        Plot showing the silhouette score for different numbers of centroids
    '''  
    sc=[]
    for c in clusters:
        gmm = GaussianMixture(n_components=c,covariance_type='diag')
        gmm.fit(data)
        cluster_labels = gmm.predict(data)
        sc.append(silhouette_score(data,cluster_labels))
    plt.plot(clusters,sc);

In [ ]:
plot_silhouette(X_vec.toarray(),range(2,20))

In [35]:
gmm = GaussianMixture(n_components=8,covariance_type='diag)
gmm.fit(X_vec.toarray())

GaussianMixture(covariance_type='diag', init_params='kmeans', max_iter=100,
        means_init=None, n_components=8, n_init=1, precisions_init=None,
        random_state=None, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None)

In [48]:
speaker_df['cluster']= gmm.predict(X_vec.toarray())

In [49]:
speaker_df.head()

,speaker,party,t_party,value,cluster
0,Mr ADERHOLT,(R),False,"[mr, speaker, i, ask, unanim, consent, member,...",5
1,Mr AKIN,(R),False,"[mr, speaker, rollcal, no, qnti, flight, delay...",7
2,Mr AL GREEN of Texas,(D),False,"[mr, speaker, great, nobl, presid, abraham, li...",7
3,Mr ALEXANDER,(R),False,"[congress, power, enact, legisl, pursuant, fol...",4
4,Mr ALTMIRE,(D),False,"[mr, speaker, week, i, cosign, letter, transpo...",3

In [52]:
#exhamine cluster sizes
speaker_df['cluster'].value_counts()/sum(speaker_df['cluster'].value_counts())

3    0.301435
7    0.191388
6    0.174641
5    0.100478
1    0.095694
4    0.050239
0    0.047847
2    0.038278
Name: cluster, dtype: float64

*It looks like cluster 3 is our biggest cluster at 30% of the dataset, while cluster 2 is our smallest, at 3.8% of the dataset*

In [59]:
speaker_df['quant_party']=[1 if x == '(R)' else 0 for x in speaker_df.party]

In [61]:
speaker_df.groupby('cluster').mean()

          t_party  quant_party
cluster
0        0.200000     0.700000
1        0.050000     0.300000
2        0.062500     0.125000
3        0.126984     0.523810
4        0.095238     0.523810
5        0.166667     0.857143
6        0.136986     0.369863
7        0.212500     0.587500

In [56]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(), 'count': group.count(), 'mean': group.mean()}

                    speaker party t_party
cluster
0       count            20    20      20
        unique           20     3       2
        top         Mr REED   (R)   False
        freq              1    14      16
1       count            40    40      40
        unique           40     3       2
        top       Mr MARINO   (D)   False
        freq              1    20      38
2       count            16    16      16
        unique           16     3       2
        top       Mrs LOWEY   (D)   False
        freq              1    11      15
3       count           126   126     126
        unique          126     3       2
        top      Mrs CAPITO   (R)   False
        freq              1    66     110
4       count            21    21      21
        unique           21     3       2
        top       Mr PLATTS   (R)   False
        freq              1    11      19
5       count            42    42      42
        unique           42     3       2
        top     Mr ADERHOLT   (R)   False
        freq              1    36      35
6       count            73    73      73
        unique           73     3       2
        top      Mr WALBERG   (D)   False
        freq              1    42      63
7       count            80    80      80
        unique           80     3       2
        top       Mr PEARCE   (R)   False
        freq              1    47      63

In [ ]:
df['postTestScore'].groupby(df['categories']).apply(get_stats).unstack()